{
  "plugins": [
    [
      "prismjs",
      {
        "languages": "all",
        "plugins": ["line-numbers", "show-language", "command-line", "match-braces"],
        "theme": "okaidia",
        "css": true
      }
    ]
  ]
}
