.wrapper {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-left: auto;
  margin-right: auto;

  .title {
    align-items: center;
    text-align: center;

    .icon {
      justify-content: center;
      vertical-align: middle;
      align-items: center;
      text-align: center;
    }

    p {
      justify-content: center;
      vertical-align: middle;
      align-items: center;
      text-align: center;
      font-size: 1.75rem;
      font-weight: 700;
    }
  }
  .menu {
    .accordion {
      width: 100%;
      display: inline-block;
      margin: 0 0.125em 0.25em 0;
      padding: 0.25em;
      line-height: 1;
      text-decoration: none;
      color: #332100;
      background-color: #cc8500;
      border: 1px solid #332100;
      box-shadow: #332100 1px 1px 2px;
      font-size: 1.5rem;
      font-weight: 700;

      .detail {
        .button {
          display: inline-block;
          margin: 0 0.25em 0.5em 0;
          padding: 0.75em;
          line-height: 1;
          text-decoration: none;
          color: #332100;
          background-color: orange;
          border: 1px solid #332100;
          border-left: 16px solid #332100;
          box-shadow: #332100 1px 1px 2px;
          font-size: 1.25rem;
          font-weight: 700;
        }
      }
    }

    .accordion:hover,
    .accordion:focus,
    .accordion:active {
      color: #332100;
      background-color: orange;
    }
  }
}
