.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .list {
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    font-size: 1.5rem;
    font-weight: 700;
  }

  .card {
    position: relative;
    height: 200px;
    overflow: hidden;
    background-color: #cc8500;
    border: 1px solid #332100;
    border-left: 16px solid #332100;

    .image {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 200px;
      height: 200px;
      overflow: hidden;
      object-fit: cover;
    }

    .title {
      position: absolute;
      top: 0px;
      left: 200px;
      width: auto;
      height: 200px;
      padding: 0rem;

      h3 {
        margin: 0.5rem;
        line-height: 1.5rem;
        font-size: 1.25rem;
        font-weight: 700;
        word-break: break-all;
      }
    }

    .category {
      position: absolute;
      top: 0px;
      left: 4px;
      width: fit-content;
      height: fit-content;

      p {
        display: inline-block;
        justify-content: right;
        vertical-align: middle;
        padding: 0.5em;
        text-decoration: none;
        color: #332100;
        background-color: orange;
        border: 1px solid #332100;
        border-left: 8px solid #332100;
        box-shadow: #332100 1px 1px 2px;
        font-weight: 700;
        font-size: 0.75rem;
      }
    }

    .date {
      position: absolute;
      bottom: 0px;
      left: 96px;
      width: fit-content;
      height: fit-content;

      p {
        display: inline-block;
        justify-content: right;
        vertical-align: middle;
        padding: 0.5em;
        text-decoration: none;
        color: #332100;
        background-color: orange;
        border: 1px solid #332100;
        border-left: 8px solid #332100;
        box-shadow: #332100 1px 1px 2px;
        font-weight: 700;
        font-size: 0.75rem;
      }
    }
  }

  .card:hover,
  .card:focus,
  .card:active {
    cursor: pointer;
    color: #332100;
    background-color: orange;
  }
}
