.post {
  color: #332100;
  background-color: white;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
  border-radius: 8px;
  box-shadow: #332100 4px 4px 4px;
  box-sizing: border-box;

  h1 {
    font-size: 30px;
    font-weight: 700;
    margin: 40px 0 20px;
    padding: 8px 16px;
    border-radius: 8px;
  }

  h2 {
    font-size: 27px;
    font-weight: 700;
    margin: 40px 0 16px;
    padding: 8px 16px;
    border-top: 6px solid orange;
    border-bottom: 6px solid orange;
  }

  h3 {
    font-size: 24px;
    font-weight: 700;
    margin: 40px 0 12px;
    padding: 8px 16px;
    border-top: 4px solid orange;
    border-bottom: 4px solid orange;
  }

  h4 {
    font-size: 21px;
    font-weight: 700;
    margin: 40px 0 8px;
    padding: 8px 16px;
    border-top: 2px solid orange;
    border-bottom: 2px solid orange;
  }

  a {
    text-decoration: underline;
  }

  p {
    font-size: 1.25rem;
    line-height: 1.8;
    letter-spacing: 1px;
  }

  ol {
    list-style-type: decimal;
    list-style-position: inside;
    line-height: 2.5rem;
    font-size: 1.25rem;
    letter-spacing: 1px;
  }

  ul {
    list-style-position: outside;
    line-height: 2.5rem;
    font-size: 1.25rem;
    letter-spacing: 1px;
  }

  li {
    list-style-position: outside;
    line-height: 2.5rem;
    font-size: 1.25rem;
    letter-spacing: 1px;
  }

  img {
    display: flex;
    width: 94%;
    height: 94%;
    margin: auto;
    border-radius: 8px;
    overflow: hidden;
    object-fit: scale-down;
  }

  pre {
    code {
      max-width: 94%;
      overflow-x: scroll;
      margin-left: auto;
      margin-right: auto;
      padding: 1rem;
      box-shadow: #332100 4px 4px 4px;
      line-height: 1.25rem;
      font-size: 1rem;
      font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
    }
  }

  code {
    color: white;
    background: #332100;
    padding: 4px;
    padding: 4px;
    border-radius: 4px;
    word-break: break-all;
  }
}
