.post {
  color: #332100;
  background-color: white;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
  border-radius: 8px;
  box-shadow: #332100 4px 4px 4px;
  box-sizing: border-box;

  h1 {
    font-size: 36px;
    font-weight: 700;
    margin: 40px 0 20px;
    padding: 8px 16px;
    border-radius: 8px;
  }

  h2 {
    font-size: 33px;
    font-weight: 700;
    margin: 40px 0 16px;
    padding: 8px 16px;
    border-top: 6px solid orange;
    border-bottom: 6px solid orange;
  }

  h3 {
    font-size: 30px;
    font-weight: 700;
    margin: 40px 0 12px;
    padding: 8px 16px;
    border-top: 4px solid orange;
    border-bottom: 4px solid orange;
  }

  h4 {
    font-size: 27px;
    font-weight: 700;
    margin: 40px 0 8px;
    padding: 8px 16px;
    border-top: 2px solid orange;
    border-bottom: 2px solid orange;
  }

  a {
    text-decoration: underline;
  }

  a[href^='http://'], a[href^='https://']
  {
    display: inline-block;
    padding-right: 32px;
    text-decoration: underline;
    background-position: top 100% left 100%;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-size: 32px;
    background-image: url('data:image/svg+xml;charset=utf8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20d%3D%22M14%2C3V5H17.59L7.76%2C14.83L9.17%2C16.24L19%2C6.41V10H21V3M19%2C19H5V5H12V3H5C3.89%2C3%203%2C3.9%203%2C5V19C3%2C20.1%203.9%2C21%205%2C21H19C20.1%2C21%2021%2C20.1%2021%2C19V12H19V19Z%22%20%2F%3E%3C%2Fsvg%3E');
  }

  a[href^='/'] {
    display: inline-block;
    padding-right: 32px;
    text-decoration: underline;
    background-position: top 100% left 100%;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-size: 32px;
    background-image: url('data:image/svg+xml;charset=utf8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%0A%20%20%20%3Cpath%20fill%3D%22%23000000%22%20d%3D%22M10.59%2C13.41C11%2C13.8%2011%2C14.44%2010.59%2C14.83C10.2%2C15.22%209.56%2C15.22%209.17%2C14.83C7.22%2C12.88%207.22%2C9.71%209.17%2C7.76V7.76L12.71%2C4.22C14.66%2C2.27%2017.83%2C2.27%2019.78%2C4.22C21.73%2C6.17%2021.73%2C9.34%2019.78%2C11.29L18.29%2C12.78C18.3%2C11.96%2018.17%2C11.14%2017.89%2C10.36L18.36%2C9.88C19.54%2C8.71%2019.54%2C6.81%2018.36%2C5.64C17.19%2C4.46%2015.29%2C4.46%2014.12%2C5.64L10.59%2C9.17C9.41%2C10.34%209.41%2C12.24%2010.59%2C13.41M13.41%2C9.17C13.8%2C8.78%2014.44%2C8.78%2014.83%2C9.17C16.78%2C11.12%2016.78%2C14.29%2014.83%2C16.24V16.24L11.29%2C19.78C9.34%2C21.73%206.17%2C21.73%204.22%2C19.78C2.27%2C17.83%202.27%2C14.66%204.22%2C12.71L5.71%2C11.22C5.7%2C12.04%205.83%2C12.86%206.11%2C13.65L5.64%2C14.12C4.46%2C15.29%204.46%2C17.19%205.64%2C18.36C6.81%2C19.54%208.71%2C19.54%209.88%2C18.36L13.41%2C14.83C14.59%2C13.66%2014.59%2C11.76%2013.41%2C10.59C13%2C10.2%2013%2C9.56%2013.41%2C9.17Z%22%20%2F%3E%0A%3C%2Fsvg%3E');
  }

  a[href^='https://twitter.com/']
  {
    display: inline-block;
    padding-right: 32px;
    text-decoration: underline;
    background-position: top 100% left 100%;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-size: 32px;
    background-image: url('data:image/svg+xml;charset=utf8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%0A%20%20%20%3Cpath%20fill%3D%22%23000000%22%20d%3D%22M22.46%2C6C21.69%2C6.35%2020.86%2C6.58%2020%2C6.69C20.88%2C6.16%2021.56%2C5.32%2021.88%2C4.31C21.05%2C4.81%2020.13%2C5.16%2019.16%2C5.36C18.37%2C4.5%2017.26%2C4%2016%2C4C13.65%2C4%2011.73%2C5.92%2011.73%2C8.29C11.73%2C8.63%2011.77%2C8.96%2011.84%2C9.27C8.28%2C9.09%205.11%2C7.38%203%2C4.79C2.63%2C5.42%202.42%2C6.16%202.42%2C6.94C2.42%2C8.43%203.17%2C9.75%204.33%2C10.5C3.62%2C10.5%202.96%2C10.3%202.38%2C10C2.38%2C10%202.38%2C10%202.38%2C10.03C2.38%2C12.11%203.86%2C13.85%205.82%2C14.24C5.46%2C14.34%205.08%2C14.39%204.69%2C14.39C4.42%2C14.39%204.15%2C14.36%203.89%2C14.31C4.43%2C16%206%2C17.26%207.89%2C17.29C6.43%2C18.45%204.58%2C19.13%202.56%2C19.13C2.22%2C19.13%201.88%2C19.11%201.54%2C19.07C3.44%2C20.29%205.7%2C21%208.12%2C21C16%2C21%2020.33%2C14.46%2020.33%2C8.79C20.33%2C8.6%2020.33%2C8.42%2020.32%2C8.23C21.16%2C7.63%2021.88%2C6.87%2022.46%2C6Z%22%20%2F%3E%0A%3C%2Fsvg%3E');
  }

  a[href^='https://www.instagram.com/']
  {
    display: inline-block;
    padding-right: 32px;
    text-decoration: underline;
    background-position: top 100% left 100%;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-size: 32px;
    background-image: url('data:image/svg+xml;charset=utf8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%0A%20%20%20%3Cpath%20fill%3D%22%23000000%22%20d%3D%22M7.8%2C2H16.2C19.4%2C2%2022%2C4.6%2022%2C7.8V16.2A5.8%2C5.8%200%200%2C1%2016.2%2C22H7.8C4.6%2C22%202%2C19.4%202%2C16.2V7.8A5.8%2C5.8%200%200%2C1%207.8%2C2M7.6%2C4A3.6%2C3.6%200%200%2C0%204%2C7.6V16.4C4%2C18.39%205.61%2C20%207.6%2C20H16.4A3.6%2C3.6%200%200%2C0%2020%2C16.4V7.6C20%2C5.61%2018.39%2C4%2016.4%2C4H7.6M17.25%2C5.5A1.25%2C1.25%200%200%2C1%2018.5%2C6.75A1.25%2C1.25%200%200%2C1%2017.25%2C8A1.25%2C1.25%200%200%2C1%2016%2C6.75A1.25%2C1.25%200%200%2C1%2017.25%2C5.5M12%2C7A5%2C5%200%200%2C1%2017%2C12A5%2C5%200%200%2C1%2012%2C17A5%2C5%200%200%2C1%207%2C12A5%2C5%200%200%2C1%2012%2C7M12%2C9A3%2C3%200%200%2C0%209%2C12A3%2C3%200%200%2C0%2012%2C15A3%2C3%200%200%2C0%2015%2C12A3%2C3%200%200%2C0%2012%2C9Z%22%20%2F%3E%0A%3C%2Fsvg%3E');
  }

  p {
    padding: 16px;
    font-size: 1.25rem;
    line-height: 2.25rem;
    letter-spacing: 1px;
  }

  ol {
    list-style-type: decimal;
    list-style-position: inside;
    line-height: 2.5rem;
    font-size: 1.25rem;
    letter-spacing: 1px;
  }

  ul {
    list-style-position: outside;
    line-height: 2.5rem;
    font-size: 1.25rem;
    letter-spacing: 1px;
  }

  li {
    list-style-position: outside;
    line-height: 2.5rem;
    font-size: 1.25rem;
    letter-spacing: 1px;
  }

  img {
    display: flex;
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 16px;
    border-radius: 8px;
    overflow: hidden;
    object-fit: scale-down;
  }

  pre {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;

    code {
      width: 100%;
      padding: 1rem;
      overflow-x: scroll;
      box-shadow: #332100 4px 4px 4px;
      line-height: 1.25rem;
      font-size: 1rem;
      font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
      white-space: pre;
    }
  }

  code {
    color: white;
    background: #332100;
    margin: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 2px;
    font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
    word-break: break-all;
    white-space: pre;
  }

  div .iframely-card {
    width: 100%;
    margin: 8px;

    div .iframely-responsive {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      border-radius: 8px;
      box-shadow: #332100 4px 4px 4px;
      overflow: hidden;

      iframe {
        width: 100%;
      }
    }
  }
}
