.nav {
  .wrapper {
    margin-top: 16px;
    margin-bottom: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;

    .nocard {
      height: 96px;
      position: relative;
    }

    .prev {
      .area {
        cursor: pointer;
        height: 96px;
        position: relative;
        background: #cc8500;
        margin: 0px;
        padding: 0px;
        border-left: 16px solid #332100;

        .media {
          position: absolute;
          right: 0px;
          top: 0px;
          width: 96px;
          height: 96px;
          overflow: hidden;
          object-fit: cover;
        }

        .content {
          width: auto;
          height: 96px;
          position: absolute;
          top: 0px;
          right: 96px;
          display: inline-flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          padding: 8px;

          h5 {
            position: relative;
            justify-content: center;
            vertical-align: middle;
            text-align: left;
            padding: 0.25rem;
            line-height: 1.25rem;
            font-size: 1rem;
            font-weight: 500;
            word-break: break-all;
          }
        }
      }
    }

    .prev:active,
    .prev:focus,
    .prev:hover {
      background: orange;
    }

    .next {
      .area {
        cursor: pointer;
        height: 96px;
        position: relative;
        margin: 0px;
        padding: 0px;
        background: #cc8500;
        border-right: 16px solid #332100;

        .media {
          position: absolute;
          left: 0px;
          top: 0px;
          width: 96px;
          height: 96px;
          overflow: hidden;
          object-fit: cover;
        }

        .content {
          width: auto;
          height: 96px;
          position: absolute;
          top: 0px;
          left: 96px;
          display: inline-flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          padding: 8px;

          h5 {
            position: relative;
            justify-content: center;
            vertical-align: middle;
            text-align: left;
            padding: 0.25rem;
            line-height: 1.25rem;
            font-size: 1rem;
            font-weight: 500;
            word-break: break-all;
          }
        }
      }
    }

    .next:active,
    .next:focus,
    .next:hover {
      background: orange;
    }
  }
}
