.info {
  margin-left: auto;
  margin-right: auto;

  .title {
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 8px;
    background-color: #cc8500;
    border-radius: 8px;
    border: 1px solid #332100;

    h1 {
      text-align: center;
      line-height: 1.5em;
      font-size: 1.75rem;
      font-weight: 700;
    }
  }

  .wrapper {
    width: 100%;
    display: flex;
    margin: 0px;
    padding: 0px;

    .image {
      width: 100%;
      height: auto;
      display: flex;
      margin: 0px;
      padding: 0px;
      overflow: hidden;
      object-fit: scale-down;
      border-radius: 8px;
    }

    .wrapper {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 0px;
      padding: 0px;

      .box {
        display: flex;
        flex-direction: row;
        flex-basis: 25%;
        align-items: center;
        vertical-align: middle;
        overflow: hidden;
        border: 1px solid #332100;
        border-radius: 8px;
        padding: 2px;
        background-color: #cc8500;

        .icon {
          flex-basis: content;
          justify-content: left;
          vertical-align: middle;
          margin-right: 16px;
          padding: 1rem;
          border-right: 1px solid #eaeaea;
        }

        .buttonLarge {
          display: inline-flex;
          flex-basis: 100%;
          justify-content: stretch;
          vertical-align: middle;
          align-items: stretch;
          margin-top: 2px;
          margin-bottom: 2px;
          margin-right: 4px;
          padding-top: 4px;
          padding-bottom: 4px;
          padding-left: 8px;
          padding-right: 8px;
          text-decoration: none;
          text-transform: none;
          color: #332100;
          background-color: orange;
          border: 1px solid #332100;
          border-left: 24px solid #332100;
          box-shadow: #332100 2px 2px 4px;
          font-size: 1.5rem;
          font-weight: 500;
        }

        .buttonLarge:hover,
        .buttonLarge:focus,
        .buttonLarge:active {
          cursor: pointer;
          font-weight: 900;
        }

        .buttonSmall {
          flex-basis: 100%;
          display: inline-flex;
          width: fit-content;
          vertical-align: middle;
          margin-top: 4px;
          margin-bottom: 4px;
          margin-right: 8px;
          padding-top: 2px;
          padding-bottom: 2px;
          padding-left: 4px;
          padding-right: 4px;
          text-decoration: none;
          text-transform: none;
          color: #332100;
          background-color: orange;
          border: 1px solid #332100;
          border-left: 16px solid #332100;
          box-shadow: #332100 1px 1px 2px;
          font-size: 0.75rem;
          font-weight: 500;
        }

        .buttonSmall:hover,
        .buttonSmall:focus,
        .buttonSmall:active {
          cursor: pointer;
          font-weight: 900;
        }
      }
    }
  }
}
