.info {
  margin-left: auto;
  margin-right: auto;

  .title {
    align-items: center;
    justify-content: center;
    margin: 0px;
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 8px;
    background-color: #cc8500;
    border-radius: 8px;

    h1 {
      text-align: center;
      font-size: 1.75rem;
      font-weight: 700;
    }
  }

  .wrapper {
    width: 100%;
    display: flex;
    margin: 0px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 0px;

    .image {
      width: 100%;
      height: 100%;
      display: flex;
      margin: 0px;
      padding: 0px;
      overflow: hidden;
      object-fit: scale-down;
      border-radius: 8px;
    }

    .wrapper {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      margin: 0px;
      padding: 0px;

      .box {
        display: flex;
        flex-direction: row;
        flex-basis: 25%;
        align-items: center;
        justify-content: left;
        vertical-align: middle;
        overflow: hidden;
        border-radius: 8px;
        margin-top: 2px;
        margin-bottom: 2px;
        padding: 8px;
        background: #cc8500;

        .icon {
          width: fit-content;
          justify-content: left;
          vertical-align: middle;
          margin-right: 16px;
          padding: 1rem;
          border-right: 1px solid #eaeaea;
        }

        .button {
          flex-basis: 100%;
          background-color: #cc8500;
          display: inline-block;
          width: fit-content;
          vertical-align: middle;
          margin-top: 4px;
          margin-bottom: 4px;
          margin-right: 8px;
          padding: 0.25em;
          text-decoration: none;
          text-transform: none;
          color: #332100;
          background: orange;
          border: 1px solid #332100;
          border-left: 16px solid #332100;
          box-shadow: #332100 1px 1px 2px;
          font-size: 1rem;
          font-weight: 500;
        }

        .button:hover,
        .button:focus,
        .button:active {
          cursor: pointer;
          font-weight: 900;
        }
      }
    }
  }
}
