.wrapper {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;

  .title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .icon {
      vertical-align: middle;
      text-align: center;
    }

    p {
      vertical-align: middle;
      text-align: center;
      font-size: 1.75rem;
      font-weight: 500;
    }
  }

  .button {
    display: inline-block;
    margin: 0 0.25em 0.5em 0;
    padding: 0.75em;
    line-height: 1em;
    text-transform: none;
    text-decoration: none;
    color: #332100;
    background-color: orange;
    border: 1px solid #332100;
    border-left: 16px solid #332100;
    font-size: 1.25rem;
    font-weight: 500;
  }

  .button:hover,
  .button:focus,
  .button:active {
    cursor: pointer;
    color: #332100;
    background-color: orange;
    font-weight: 900;
  }
}
