html,
body {
  min-width: 320px;
  padding: 0;
  margin: 0;
  color: #332100;
  background-color: orange;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.header {
  padding: 16px;

  .title {
    color: #332100;
    text-align: center;
    text-decoration: none;

    h1 {
      padding: 8px;
      line-height: 4rem;
      font-size: 3rem;
      font-weight: 700;
    }

    h2 {
      padding: 8px;
      line-height: 3.5rem;
      font-size: 2.5rem;
      font-weight: 700;
    }
  }

  .title a:hover,
  .title a:focus,
  .title a:active {
    cursor: pointer;
    text-decoration: underline;
  }

  .description {
    text-align: center;
    line-height: 1.75;
    font-size: 1.5rem;
    font-weight: 500;
  }
}

.footer {
  height: 128px;
  margin-top: 16px;
  padding-top: 16px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 1.5rem;
  }
}

.float {
  position: fixed;
  bottom: 16px;
  right: 16px;

  .fab {
    color: #332100;
    background-color: #cc8500;
    margin: 8px;
  }

  .fab:hover,
  .fab:focus,
  .fab:active {
    color: #332100;
    background-color: orange;
  }
}

.minibar {
  display: flex;
  margin-top: 32px;
  margin-bottom: 32px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  color: #332100;
  background-color: #cc8500;
  box-shadow: #332100 4px 4px 4px;

  nav {
    width: 100%;
    display: flex;
    flex-direction: column;

    ol {
      width: 98%;
      display: flex;
      margin-left: 0px;
      margin-right: 0px;
      list-style-type: none;
      list-style-position: inside;

      span {
        min-width: fit-content;
        margin-top: 8px;
        margin-bottom: 8px;
        margin-right: 8px;
        padding-top: 0.25em;
        padding-bottom: 0.25em;
        font-size: 1rem;
        font-weight: 700;
        overflow: hidden;
      }

      li {
        min-width: 4rem;
        flex-wrap: nowrap;
        vertical-align: middle;
        margin-top: 8px;
        margin-bottom: 8px;
        margin-right: 8px;
        padding: 0.25rem;
        color: #332100;
        background: orange;
        border: 1px solid #332100;
        border-left: 16px solid #332100;
        box-shadow: #332100 1px 1px 2px;
        font-weight: 500;
        font-size: 1rem;
        overflow: hidden;
        white-space: nowrap;
        text-decoration: none;
        text-transform: none;
        text-overflow: ellipsis;
      }
    }
  }

  .grow {
    flex-grow: 1;
  }

  .pager {
    flex: auto;
  }
}
