html,
body {
  width: 100%;
  min-width: 400px;
  padding: 0;
  margin: 0;
  color: #332100;
  background-color: orange;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

header {
  width: 100%;
  position: sticky;
  top: 0px;
  left: 0px;
  background-color: rgba(33, 21, 00, 0.75);
  z-index: 10 !important;
}

.title {
  width: content;
  display: block;
  margin: auto;

  h1 {
    width: content;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 16px;
    line-height: 3.25rem;
    color: #332100;
    font-size: 3rem;
    font-weight: 500;
    text-align: center;

    span {
      display: flex;
      width: content;
      margin: auto;
    }
  }

  h1:hover,
  h1:focus,
  h1:active {
    text-shadow: 2px 2px 4px #332100;
    transition: all 0.5s;
  }
}

.description {
  color: #332100;
  line-height: 1.75rem;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
}

.main {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.footer {
  height: 128px;
  margin-top: 16px;
  padding-top: 16px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 1.5rem;
  }
}

.float {
  position: fixed;
  bottom: 0px;
  right: 0px;
  margin: 4px;
  padding: 4px;

  .fab {
    color: orange;
    background-color: #332100;
    opacity: 0.5;
  }

  .fab:hover,
  .fab:focus,
  .fab:active {
    color: orange;
    background-color: #332100;
    opacity: 1;
    transition: all 0.5s;
  }
}
