html,
body {
  padding: 0;
  margin: 0;
  color: #332100;
  background-color: orange;
  font-family: 'Noto Sans JP';
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.header {
  padding: 32px;

  .title {
    color: #332100;
    text-align: center;
    text-decoration: none;

    h1 {
      padding: 16px;
      line-height: 4rem;
      font-size: 3rem;
      font-weight: 700;
    }

    h2 {
      padding: 16px;
      line-height: 3.5rem;
      font-size: 2.5rem;
      font-weight: 700;
    }
  }

  .title a:hover,
  .title a:focus,
  .title a:active {
    cursor: pointer;
    text-decoration: underline;
  }

  .description {
    text-align: center;
    line-height: 1.75;
    font-size: 1.5rem;
    font-weight: 500;
  }
}

.footer {
  height: 128px;
  margin-top: 16px;
  padding-top: 16px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 1.25rem;
  }
}

.float {
  position: fixed;
  top: auto;
  bottom: 16px;
  left: auto;
  right: 16px;
}

.float:active,
.float:focus,
.float:hover {
  text-decoration: underline;
}
