.appbar {
  width: 100%;
  top: 0px;
  position: sticky;
  display: flex;
  z-index: 999;

  .toolbar {
    background: #332100;

    .grow {
      flex-grow: 1;
    }

    p {
      cursor: pointer;
      color: orange;
      font-weight: 700;
      font-size: 1rem;
      text-align: center;
      text-decoration: none;
    }

    .icon {
      color: orange;
      font-weight: 700;
      font-size: 1rem;
      text-decoration: none;
    }
  }
}
