.appbar {
  background-color: rgba(00, 00, 00, 0);

  .toolbar {
    display: flex;

    .title {
      display: inline-flex;
      flex-grow: 1;

      p {
        color: orange;
        font-weight: 700;
        font-size: 1rem;
        text-align: center;
        text-decoration: none;
      }
    }

    .icon {
      display: inline-flex;
      color: orange;
      font-weight: 700;
      font-size: 1rem;
      text-decoration: none;

      .button {
        cursor: pointer;
      }

      .button:hover,
      .button:focus,
      .button:active {
        cursor: pointer;
        color: #332100;
        background-color: orange;
        opacity: 1;
        transition: all 0.5s;
      }
    }
  }
}
