.minibar {
  display: flex;
  flex-wrap: wrap;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
  color: #332100;
  background-color: #cc8500;
  border-radius: 8px;
  overflow: hidden;

  nav {
    position: relative;
    left: -24px;
    width: calc(100% - 176px);
    display: flex;
    flex-grow: 0;
    flex-direction: column;

    ol {
      display: flex;
      margin-left: 0px;
      margin-right: 0px;
      list-style-type: none;

      span {
        display: none;
      }

      li {
        width: fit-content;
        min-width: 4.5rem;
        flex-wrap: nowrap;
        vertical-align: middle;
        margin-top: 8px;
        margin-bottom: 8px;
        margin-right: 8px;
        padding: 0.25rem;
        color: #332100;
        background: orange;
        border: 1px solid #332100;
        border-left: 16px solid #332100;
        font-weight: 500;
        font-size: 0.75rem;
        overflow: hidden;

        span {
          display: block;
          margin: 0px;
          padding: 0px;
          white-space: nowrap;
          text-decoration: none;
          text-transform: none;
          text-align: justify;
          text-align-last: justify;
          text-overflow: ellipsis;
        }

        a {
          display: block;
          margin: 0px;
          padding: 0px;
          white-space: nowrap;
          text-decoration: none;
          text-transform: none;
          text-align: justify;
          text-align-last: justify;
          text-overflow: ellipsis;
        }
      }
    }
  }

  .pager {
    width: 176px;
    display: flex;
    flex-basis: content;
    flex-wrap: nowrap;
    justify-items: right;
    align-items: center;
    vertical-align: middle;
    margin: auto;
    margin-right: 16px;
    padding: 0px;

    .button {
      width: 40px;
      height: 40px;
      display: flex;
      margin-top: auto;
      margin-bottom: auto;

      svg {
        display: flex;
      }
    }
  }
}
