.minibar {
  display: flex;
  flex-wrap: wrap;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
  color: #332100;
  background-color: #cc8500;
  border-radius: 8px;
  overflow: hidden;

  nav {
    position: relative;
    left: -32px;
    width: calc(100% - 168px);
    display: inline-flex;
    flex-grow: 0;
    flex-direction: column;

    ol {
      display: flex;
      margin-left: 0px;
      margin-right: 0px;
      list-style-type: none;

      span {
        display: none;
      }

      li {
        width: fit-content;
        min-width: 5rem;
        flex-wrap: nowrap;
        vertical-align: middle;
        margin-top: 8px;
        margin-bottom: 8px;
        margin-left: 8px;
        padding: 0.25rem;
        color: #332100;
        background: orange;
        border: 1px solid #332100;
        border-left: 16px solid #332100;
        font-weight: 500;
        font-size: 1rem;
        white-space: nowrap;
        text-decoration: none;
        text-transform: none;
        text-align: justify;
        text-align-last: justify;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .pager {
    width: 168px;
    display: inline-flex;
    flex-grow: 0;
    flex-basis: content;
    flex-wrap: nowrap;
    justify-items: right;
    align-items: center;
    vertical-align: middle;
    margin: 0px;
    padding: 0px;
    padding-right: 8px;

    .button {
      width: 40px;
      height: 40px;
      display: flex;
      margin-top: auto;
      margin-bottom: auto;

      svg {
        display: flex;
      }
    }
  }
}
