.pagination {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  vertical-align: middle;
  margin-top: 16px;
  margin-bottom: 16px;
  padding-top: 16px;
  padding-bottom: 16px;

  .paginationitem {
    font-size: 1.75rem;
    font-weight: 700;
  }
}
