.gallery {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: auto;
  margin-right: auto;

  .summary {
    padding: 8px;
    background-color: #cc8500;

    .text {
      margin-left: auto;
      margin-right: auto;

      h3 {
        margin: 0px;
        padding: 0px;
        font-weight: 500;
        font-size: 1.25rem;
      }
    }
  }

  .detail {
    width: 100%;
    display: flex;
    margin: 0px;
    padding: 0px;

    .thumbnails {
      width: 100%;
      height: auto;
      display: flex;
      margin: 0px;
      padding: 0px;

      .thumbnail {
        width: 100%;
        height: auto;
        display: flex;
        margin: 0px;
        padding: 0px;

        img {
          width: 100%;
          height: auto;
          display: flex;
          margin: 0px;
          padding: 0px;
          object-fit: scale-down;
        }

        img:hover,
        img:focus,
        img:active {
          cursor: pointer;
        }
      }
    }
  }
}
