.share {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  vertical-align: middle;
  position: relative;

  .button {
    width: fit-content;
    justify-content: center;
    position: relative;
    padding: 2px;
  }
}
