.wrapper {
  margin-left: auto;
  margin-right: auto;

  .title {
    align-items: center;
    text-align: center;

    .icon {
      justify-content: center;
      vertical-align: middle;
      align-items: center;
      text-align: center;
    }

    p {
      justify-content: center;
      vertical-align: middle;
      align-items: center;
      text-align: center;
      font-size: 1.75rem;
      font-weight: 700;
    }
  }

  .tagcloud {
    position: relative;
    padding: 8px;
    border: 2px solid #332100;
    border-radius: 8px;
    background-color: #cc8500;
    box-shadow: #332100 4px 4px 8px;

    a {
      display: inline-block;
      margin: 0 0.25em 0.5em 0;
      padding: 0.75em;
      line-height: 1;
      text-decoration: none;
      color: #332100;
      background-color: orange;
      border: 1px solid #332100;
      border-left: 8px solid #332100;
      box-shadow: #332100 1px 1px 2px;
      font-size: 1rem;
      font-weight: 700;
    }
  }
}
